:root {
  /* Warna untuk Men Section */
  --men-primary: #002772;
  --men-bg: #d6e6ff;

  /* Warna untuk Women Section */
  --women-primary: #720060;
  --women-bg: #fde2ff;

  /* Warna untuk Unavailable Section */
  --unavailable-primary: #3f3f3f;
  --unavailable-bg: #dcdcdc;

  /* Warna umum */
  --white: #ffffff;
  --dark: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}
